.indicators {

  &__element {
    display: inline-block;
    margin-right: 3px;
    height: 20*$rem;
    width: 20*$rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: red;
    
    &--active {
      background-color: #fff;
    }
  }
}