.indicators {
  text-align: center;

  &__element {
    display: inline-block;
    position: relative;
    margin: 0 12px;
    height: 16*$rem;
    width: 16*$rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: $pure-white;
    
    &--active {
      background-color: $red;
    }
  }
}