.dropdown-block {
  @extend %convex-lower-shadow;
  min-width: 150%;
  position: absolute;
  top: 56px;
  text-align: left;
  background: $pure-white;
  border-radius: .12em;
  padding: .7em;
  font-size: 1rem;

  &__element {
    display: list-item;
  }
}