.navigation {

  &__element {
    display: inline-block;
    position: relative;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      background-color: lightgray;
      transition: .6s;
    }

    .arrow-icon {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 36%;
    }
  }

  &__link {
    padding: 2.19em 1.2em;
  }
}
