.navigation {

  ul {

    li {
      display: inline-block;
      position: relative;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        background-color: lightgray;
        transition: .6s;
      }

      a { padding: 2.19em 1.2em; }

      .arrow-icon {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 36%;
      }
    }
  }
}