.details {
  padding: 100*$rem 20*$rem 90*$rem 20*$rem;

  header {
    text-align: center;
    margin-bottom: 50*$rem;

    h2 {
      font-weight: normal;
      color: $support-block-background;
    }

    p {
      font-size: 14*$rem;
    }
  }
}