.showcase {
  padding: 100px 20px 90px 20px;
  color: $pure-white;
  background-image: url('/src/assets/media/images/showcase/showcase_bg.jpg');
  background-size: cover;
  background-position: center;

  header {
    margin-bottom: 80*$rem;
    text-align: center;

    h2 {
      margin: 0 0 1.25rem 0;
      font-weight: normal;
      letter-spacing: -0.125rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80*$rem;

    .showcase-card {
      margin-bottom: 20*$rem;
      @include flex-basis-in-row(4, 10px, 10px);

      @media screen and (max-width: $tablet-max-desctruct-point) {
        @include flex-basis-in-row(2, 10px, 10px);
      }

      @media screen and(max-width: $mobile-md) {
        @include flex-basis-in-row(1, 0px, 0px);
      }
    }
  }
}