.showcase {
  padding: 100px 0 90px 0;
  color: $pure-white;
  background-image: url('/src/assets/media/images/showcase/showcase_bg.jpg');
  background-size: cover;
  background-position: center;

  header {
    margin-bottom: 80*$rem;
    text-align: center;

    h2 {
      margin: 0 0 1.25rem 0;
      font-weight: normal;
      letter-spacing: -0.125rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__card-wrapper {
    margin-bottom: 80*$rem;
  }
}