.support {
  padding: 100*$rem 20*$rem 120*$rem 20*$rem;
  background-color: $support-block-background;

  &__inner {
    display: flex;
  }

  &__description {
    flex-basis: 40%;
    text-align: left;
    padding-right: 20*$rem;

    h2 {
      margin: 0 0 25*$rem 0;
      font-weight: normal;
      color: white;
    }

    p {
      color: white;
      font-weight: normal;
      padding-top: 0;
    }
  }

  &__media {
    flex-basis: 60%;
    background-color: green;
  }
}