$rem: 0.0625rem;

//--colors
$main-text: rgba(0, 0, 0, 0.87);
$main-bg-color: #ffffff;
$pure-black: #000;
$light-black: #212121;
$grey: #9e9e9e;
$strange-gray: #bdbdbd;
$services-header: #00838f;
$pink: #e91e63;
$deep-purple: #673ab7;
$red: #f44336;
$yellow: #ff9800;
$pure-white: #ffffff;
$support-block-background: #00838f;
$lower-blocks-background: #37474f;
$up-button-background: #455a64;

//--fonts
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 0.0625rem;
$line-height: 1;
